@charset "utf-8";

body{
    background: #eff0f1;
}
.colorNavbar{/* couleur du font de la navbar */
background : #061339;
}
.jumbotron{
    background: url('../img/background.jpg');
}
.message {
    border: 2px  soli gray;
    color : yellowgreen;
    background: green; 
}
#message{
    color : gray;
    background: red;
}
.colorTexh1 {
    color : #FFF;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
a:hover{
    text-decoration: none;
}
.tete:hover{
    /* background: #4a76e7; */
}
    
h1, h5 {/* couleur des titres */
    color : #FFF;
    text-align : center;
    text-shadow: 0.1em 0.1em rgba(7, 7, 7, 0.4 );
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merienda', cursive;
}
h2, h3, h4, h6 {
    color : #2F4073;
    padding-top: 1%;

}
h2 {/* h2 est positioné relativement a la nav */
    position :center;
    padding-top:1em;
    padding-bottom:  1em;
    left: 20%;
}
.corps {
    width: 80%;
    margin : 0 auto;
  
}
.tete {
    background: #7885a5;
}

.colorFooter {/* couleur du fon de footer */
    background : #061339;
}
.coulerFont {/* fond de couleur pour row 2 */
    background:  #7885A5;
}

.fondRow {
    background: #dddddd;
}